body {
    margin : 0px;
    padding : 0px;
    background-color : #787a7b;
    color : #111122;
    font : 12px 'Droid Sans', arial, sans-serif;
}


.humble-dvc-application {
    font : 12px/18px 'Droid Sans', arial, sans-serif;
    position : relative;
    overflow : hidden;
    margin : 0px auto;
    padding : 14px;
    width : 750px;
    min-height : 280px;
    background : #babdbf;
    border : 1px solid #000;
    border-top : 0px;
    -webkit-box-shadow : 0px 0px 18px 0px #222;/*, -5px 0px 8px #444;*/
    -mox-box-shadow : 0px 0px 18px 0px #222;/*, -5px 0px 8px #444;*/
    box-shadow : 0px 0px 18px 0px #222;/*, -5px 0px 8px #444;*/
}

.humble-dvc-application,
.humble-dvc-sliders-loading,
.humble-dvc-splash {
    background-color : #babdbf;
}

.humble-dvc-application a {
    text-decoration : underline;
    cursor : pointer;
}

.humble-dvc-application input {
    border : 1px solid #787a7b;
}

.humble-dvc-application-header,
.humble-dvc-splash-title {
    font : 48px 'Droid Sans Mono', arial, sans-serif;
    letter-spacing : -2px;
    font-weight : bold;
    text-shadow : 3px 2px 0 #ccc;
    text-align : center;
    text-decoration : none;
}



.humble-dvc-visual-budget,
.humble-dvc-sliders-title,
.humble-dvc-visual-title,
.humble-dvc-subfunction-title,
.humble-dvc-subfunction-back,
.humble-dvc-dimension-title,
.humble-dvc-splash,
.humble-dvc-sliders-taxes {
    font : 18px 'Droid Sans Mono', arial, sans-serif;
    letter-spacing : -2px;
    font-weight : bold;
    text-shadow : 2px 2px 0 #ccc;
    text-align : left;
}


.humble-dvc-splash {
    position : absolute;
    top : 0px;
    width : 750px;
    height : 280px;
    z-index : 10000;
}
.humble-dvc-splash-title {
    margin-top : 18px;
}
.humble-dvc-splash-copy {
    text-align: center;
    margin: 48px 0px 48px 0px;
}
.humble-dvc-splash-controls {
    width : 750px;
    text-align : center;
    position : relative;
}
.humble-dvc-splash-income,
.humble-dvc-splash-label {
    letter-spacing : 0px;
    font-size : 16px;
}
.humble-dvc-splash-label-income {
    position : absolute;
    font-size : 12px;
    top : -13px;
    left : 198px;
}
.humble-dvc-splash-income {
    margin-right: 12px;
    padding : 2px;
}
.humble-dvc-splash-button {
    padding : 2px 6px;
    display : inline;
    border : 1px solid #787a7b;
    border-radius : 4px;
    -webkit-box-shadow : 2px 2px 3px 0px #222;
    -mox-box-shadow : 2px 2px 3px 0px #222;
    box-shadow : 2px 2px 3px 0px #222;
    cursor : pointer;
}
.humble-dvc-splash-button a {
    text-decoration : none;
}



.humble-dvc-controls {
    border-top : 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    padding : 10px 8px;
    margin : 18px 0px 24px 0px;
}
.humble-dvc-controls label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#humble-dvc-controls-self {
    cursor : pointer;
    vertical-align : middle;
}
#humble-dvc-controls-filing,
#humble-dvc-controls-income,
#humble-dvc-controls-self {
    margin : 0px 18px 0px 4px;
}
#humble-dvc-controls-reset {
    float : right;
}


.humble-dvc-sliders {
    float : right;
    position : relative;
    margin-right: 20px;
    width : 340px;
}
.humble-dvc-sliders-title {
    margin-bottom: 24px;
}
.humble-dvc-sliders-taxes {
    position : absolute;
    right : 0px;
    top : 0px;
}
.humble-dvc-sliders-container {
    position : relative;
}
.humble-dvc-sliders-loading {
    background : #babdbf url('../images/ajax-loader.gif') center 150px no-repeat;
    position : absolute;
    opacity : .8;
    z-index : 10;
    top : 0px;
    right : 0px;
}
.humble-dvc-sliders .humble-dvc-slider {
    margin-bottom : 8px;
    position : relative;
}
.humble-dvc-sliders .humble-dvc-slider-value {
    position : absolute;
    right : 0px;
}
.humble-dvc-sliders .humble-dvc-slider-title {
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    width : 260px;
    margin-left : 22px;
    height : 20px;
}
.humble-dvc-sliders .humble-dvc-slider-legend {
    position : absolute;
    top : 1px;
    left : 1px;
    height : 12px;
    width : 12px;
    border : 1px solid #222;
    cursor : pointer;
}
.humble-dvc-sliders .humble-dvc-slider-legend.hover {
    height : 14px;
    width: 14px;
    top: 0px;
    left : 0px;
}



.humble-dvc-visual {
    float : left;
    position : relative;
    width : 340px;
    margin-left : 20px;
    background-color : #babdbf;
}
.humble-dvc-visual-title {
    margin-bottom : 28px;
}
.humble-dvc-visual-canvas {
    overflow-y : auto;
    height : 680px;
}
.humble-dvc-visual-legend {
    font-size : 10px;
    position : absolute;
    padding-left : 15px;
    top : 28px;
    right : 28px;
    /*
    position : absolute;
    top : 24px;
    right : 32px;
    */
}
.humble-dvc-visual-budget {
    position : absolute;
    top : 0px;
    left : 195px;
}
.humble-dvc-visual-legend-value {
    display : inline;
}
.humble-dvc-visual-legend-block {
    position : absolute;
    top : 3px;
    left : 1px;
    margin-left : 1px;
    height : 10px;
    width : 10px;
    border : 1px solid #333;
    background : #eeeeee;
    cursor : pointer;
}

.humble-dvc-dimension {
    z-index : 1000;
    background : #eee;
    min-width : 200px;
    padding : 8px;
    position : absolute;
    border-radius : 4px;
    border : 1px solid #787a7b;
}
.humble-dvc-dimension-title {
    font-size : 14px;
    margin-bottom : 5px;
}
.humble-dvc-dimension-taxes {
}
.humble-dvc-dimension-total {
}
.humble-dvc-dimension-spending {
}
.humble-dvc-dimension .humble-dvc-spending {
    width : 220px;
    position : relative;
}
.humble-dvc-dimension .humble-dvc-spending-pie {
    height : 90px;
    width : 90px;
    position : absolute;
    right : 0px;
    bottom : 0px;
}
.humble-dvc-dimension .humble-dvc-spending-legend {
    font-size : 10px;
    position : relative;
}
.humble-dvc-dimension .humble-dvc-spending-legend {

}
.humble-dvc-dimension .humble-dvc-spending-legend-block {
    position : absolute;
    margin-top : 4px;
    height : 10px;
    width : 10px;
    border : 1px solid #000;
}
.humble-dvc-dimension .humble-dvc-spending-legend-label {
    padding-left : 14px;
}






.humble-dvc-subfunction {
    position : relative;
}
.humble-dvc-subfunction-title {
    margin-bottom : 20px;
}
.humble-dvc-subfunction-back {
    position : absolute;
    right : 0px;
    top : 4px;
    font-size : 16px;
}
.humble-dvc-subfunction-account {
float : left;
width: 420px;
}
.humble-dvc-subfunction-budget {
float : left;
width: 100px;
}
.humble-dvc-subfunction-tax {
float : left;
width: 100px;
}
