body {
    margin : 0px;
    padding : 0px;
    background-color : #787a7b;
    color : #111122;
    font : 12px 'Droid Sans', arial, sans-serif;
}

#dvc-application {
    text-align : center;
}

.humble-dvc-application {
    text-align : left;
    font : 12px/18px 'Droid Sans', arial, sans-serif;
    padding-bottom : 16px;
    position : relative;
    overflow : hidden;
    margin : 0px auto;
    width : 778px;
    background : #babdbf;
    border : 1px solid #000;
    border-top : 0px;
    -webkit-box-shadow : 0px 0px 18px 0px #222;/*, -5px 0px 8px #444;*/
    -mox-box-shadow : 0px 0px 18px 0px #222;/*, -5px 0px 8px #444;*/
    box-shadow : 0px 0px 18px 0px #222;/*, -5px 0px 8px #444;*/
}

.humble-dvc-application,
.humble-dvc-sliders-loading,
.humble-dvc-splash {
    background-color : #babdbf;
}

.humble-dvc-application a {
    text-decoration : underline;
    cursor : pointer;
}

.humble-dvc-application-header,
.humble-dvc-splash-title {
    margin-top : 8px;
    height : 48px;
    line-height : 48px;
    vertical-align : bottom;
    font : 48px arial, sans-serif;
    letter-spacing : -2px;
    font-weight : bold;
    text-shadow : 3px 2px 0 #ccc;
    text-align : center;
    text-decoration : none;
}
.humble-dvc-application-splash {
    margin-top : 50px;
}

.humble-dvc-visual-budget,
.humble-dvc-sliders-title,
.humble-dvc-visual-title,
.humble-dvc-subfunction-title,
.humble-dvc-subfunction-back,
.humble-dvc-dimension-title,
.humble-dvc-splash,
.humble-dvc-subfunction-thead,
.humble-dvc-sliders-taxes,
.humble-dvc-subfunction-budget,
.humble-dvc-subfunction .humble-dvc-spending-title,
.humble-dvc-subfunction .humble-dvc-budgetpie-title,
.humble-dvc-subfunction-taxes {
    font : 18px 'Droid Sans Mono', arial, sans-serif;
    letter-spacing : -2px;
    font-weight : bold;
    text-shadow : 2px 2px 0 #ccc;
    text-align : left;
}

.humble-dvc-splash {
    height : 164px;
}
.humble-dvc-splash-copy {
    text-align: center;
    margin: 48px 0px 48px 0px;
}
.humble-dvc-splash-controls {
    width : 750px;
    text-align : center;
    position : relative;
}
.humble-dvc-splash-controls input {
    border : 1px solid #787a7b;
}
.humble-dvc-splash-income,
.humble-dvc-splash-label {
    letter-spacing : 0px;
    font-size : 16px;
}
.humble-dvc-splash-label {
    position : absolute;
    width : 196px;
    right : 50%;
    top : 0px;
    padding-top : 4px;
    font-size : 18px;
    text-align : left;
}
.humble-dvc-splash-label-income {
    position : absolute;
    width : 170px;
    font-size : 12px;
    top : -13px;
    left : 16px;
}
.humble-dvc-splash-income {
    position : absolute;
    margin-right: 12px;
    padding : 2px;
    width : 170px;
    top : 2px;
    right : 50%;
}
.humble-dvc-splash-button {
    position : absolute;
    top : 0px;
    left : 50%;
    padding : 2px 6px;
    border : 1px solid #787a7b;
    width : 170px;
    overflow : hidden;
    border-radius : 4px;
    -webkit-box-shadow : 2px 2px 3px 0px #222;
    -mox-box-shadow : 2px 2px 3px 0px #222;
    box-shadow : 2px 2px 3px 0px #222;
    cursor : pointer;
}
.humble-dvc-splash-button a {
    text-decoration : none;
}



.humble-dvc-controls {
    border-top : 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    padding : 10px 8px;
    margin : 18px 0px 24px 0px;
    position : relative;
}
.humble-dvc-controls label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#humble-dvc-controls-self {
    cursor : pointer;
    vertical-align : middle;
}
.humble-dvc-controls-filing {
    text-align: center;
    padding-left : 120px;
}
.humble-dvc-controls-income {
    position : absolute;
    left : 16px;
}
.humble-dvc-controls-income input {
    border : 1px solid #787a7b;
}
.humble-dvc-controls-self {
    position : absolute;
    top : 12px;
    right : 16px;
}
.humble-dvc-controls-self input {
    margin-top : -2px;
}
#humble-dvc-controls-reset {
    position : absolute;
    top : 92px;
    right : 36px;
    font-size : 10px;
    z-index : 100;
}


.humble-dvc-sliders {
    float : right;
    position : relative;
    margin-right: 34px;
    width : 320px;
}
.humble-dvc-sliders-title {
    margin-bottom: 24px;
}
.humble-dvc-sliders-taxes {
    position : absolute;
    right : 0px;
    top : 0px;
}
.humble-dvc-sliders-container {
    position : relative;
}
.humble-dvc-sliders-loading {
    background : #babdbf url('../images/ajax-loader.gif') center 150px no-repeat;
    position : absolute;
    opacity : .8;
    z-index : 10;
    top : 0px;
    right : 0px;
}
.humble-dvc-sliders .humble-dvc-slider {
    margin-bottom : 8px;
    position : relative;
}
.humble-dvc-sliders .humble-dvc-slider-value {
    position : absolute;
    right : 0px;
}
.humble-dvc-sliders .humble-dvc-slider-title {
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    width : 260px;
    text-indent : 22px;
    height : 20px;
    cursor : pointer;
}
.humble-dvc-sliders .humble-dvc-slider-legend {
    position : absolute;
    top : 1px;
    left : 1px;
    height : 12px;
    width : 12px;
    line-height : 2px;
    border : 1px solid #222;
    cursor : pointer;
}
.humble-dvc-sliders .humble-dvc-slider-legend.hover {
    height : 14px;
    width: 14px;
    top: 0px;
    left : 0px;
}



.humble-dvc-visual {
    float : left;
    position : relative;
    margin-left: 34px;
    background-color : #babdbf;
}
.humble-dvc-visual-title {
    margin-bottom : 28px;
}
.humble-dvc-visual-canvas {
    overflow-y : auto;
    height : 680px;
    width : 340px;
}
.humble-dvc-visual-legend {
    font-size : 10px;
    position : absolute;
    padding-left : 15px;
    top : 28px;
    right : 24px;
}
.humble-dvc-visual-budget {
    position : absolute;
    top : 0px;
    left : 195px;
}
.humble-dvc-visual-legend-value {
    display : inline;
}
.humble-dvc-visual-legend-block {
    position : absolute;
    top : 3px;
    left : 1px;
    margin-left : 1px;
    height : 10px;
    width : 10px;
    border : 1px solid #333;
    background : #eeeeee;
    cursor : pointer;
    line-height : 2px;
}

.humble-dvc-dimension {
    z-index : 1000;
    background : #eee;
    min-width : 200px;
    padding : 8px;
    position : absolute;
    border-radius : 4px;
    border : 1px solid #787a7b;
}
.humble-dvc-dimension-title {
    font-size : 14px;
    margin-bottom : 5px;
}
.humble-dvc-dimension-taxes {
}
.humble-dvc-dimension-total {
}
.humble-dvc-dimension-spending {
}
.humble-dvc-dimension .humble-dvc-spending {
    width : 220px;
    position : relative;
}
.humble-dvc-dimension .humble-dvc-spending-title {
    display : none;
}
.humble-dvc-dimension .humble-dvc-spending-pie {
    height : 90px;
    width : 90px;
    position : absolute;
    right : 0px;
    bottom : 0px;
}
.humble-dvc-dimension .humble-dvc-spending-legend {
    font-size : 10px;
    position : relative;
}
.humble-dvc-dimension .humble-dvc-spending-legend-block {
    position : absolute;
    margin-top : 2px;
    height : 10px;
    width : 10px;
    line-height : 2px;
    border : 1px solid #000;
}
.humble-dvc-dimension .humble-dvc-spending-legend-label {
    padding-left : 15px;
}






.humble-dvc-subfunction {
    padding : 0px 16px 16px 16px;
    margin-top : 48px;
    position : relative;
}
.humble-dvc-subfunction-title {
    margin-bottom : 20px;
}
.humble-dvc-subfunction-back {
    position : absolute;
    right : 16px;
    top : 4px;
    font-size : 16px;
}
.humble-dvc-subfunction-accounts {
    overflow : hidden;
    margin-top : 78px;
}
.humble-dvc-subfunction-thead {
    font-size : 14px;
    letter-spacing : 0px;
    font-weight : bold;
    text-shadow : 1px 1px 0 #ccc;
}

.humble-dvc-subfunction-budget,
.humble-dvc-subfunction-taxes,
.humble-dvc-subfunction .humble-dvc-spending-title,
.humble-dvc-subfunction .humble-dvc-budgetpie-title {
    font-size : 14px;
    letter-spacing : 0px;
    font-weight : bold;
    text-shadow : 1px 1px 0 #ccc;
}

.humble-dvc-subfunction-accounts .humble-dvc-subfunction-account {
    float : left;
    width: 420px;
    padding-left: 2px;
}
.humble-dvc-subfunction-accounts .humble-dvc-subfunction-account-budget {
    float : left;
    width: 160px;
    padding-left: 2px;
}
.humble-dvc-subfunction-accounts .humble-dvc-subfunction-tax {
    float : left;
    width: 100px;
    padding-left: 2px;
}
.humble-dvc-subfunction-thead .humble-dvc-subfunction-account,
.humble-dvc-subfunction-thead .humble-dvc-subfunction-account-budget,
.humble-dvc-subfunction-thead .humble-dvc-subfunction-tax {
    padding-left: 0px;
}
.humble-dvc-subfunction .humble-dvc-spending {
    position : absolute;
    top : 44px;
    left : 220px;
    width : 210px;
    margin-right: 10px;
    height : 140px;
}
.humble-dvc-budgetpie {
    position : absolute;
    top : 44px;
    left : 460px;
    width : 280px;
    margin-right: 10px;
}
.humble-dvc-subfunction .humble-dvc-spending-title,
.humble-dvc-subfunction .humble-dvc-budgetpie-title {
    padding-left : 8px;
}
.humble-dvc-subfunction .humble-dvc-spending-pie, 
.humble-dvc-subfunction .humble-dvc-budgetpie-pie {
    width : 80px;
    height : 80px;
    position : absolute;
    top : 20px;
    left : 0px;
}
.humble-dvc-subfunction .humble-dvc-spending-legend,
.humble-dvc-subfunction .humble-dvc-budgetpie-legend {
    position : absolute;
    top : 28px;
    left : 92px;
}
.humble-dvc-subfunction .humble-dvc-spending-legend-block,
.humble-dvc-subfunction .humble-dvc-budgetpie-legend-block {
    position : absolute;
    margin-top : 1px;
    height : 14px;
    width : 14px;
    line-height : 2px;
    border : 1px solid #000;
}
.humble-dvc-subfunction .humble-dvc-spending-legend-label,
.humble-dvc-subfunction .humble-dvc-budgetpie-legend-label {
    padding-left : 20px;
    height : 24px;
}
.humble-dvc-subfunction .humble-dvc-budgetpie-legend-label {
width : 162px;
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}
