body {
    margin : 0px;
    padding : 0px;
}



.humble-dvc-application {
    margin : 0px auto;
    font : 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color : #222222;
    padding : 8px;
    width : 1080px;
    background : #eeeeff;
    overflow: hidden;
    position : relative;
}
.humble-dvc-sliders {
    float : right;
    width : 400px;
}
.humble-dvc-sliders .slider {
    margin-bottom : 8px;
    position : relative;
}
.humble-dvc-sliders .mycosti {
    position : absolute;
    right : 0px;
}
.humble-dvc-sliders .title {
    padding-left : 22px;
    height : 20px;
}
.humble-dvc-sliders .legend {
    position : absolute;
    top : 1px;
    left : 1px;
    height : 12px;
    width : 12px;
    border : 2px solid #ffffff;
    cursor : pointer;
}
.humble-dvc-sliders .legend.hover {
    height : 14px;
    width: 14px;
    top: 0px;
    left : 0px;
}
.humble-dvc-visual {
    float : left;
    width : 320px;
    height : 640px;
    background : #eeeeff;
}
.humble-dvc-dimension {
    background : #ffffff;
    width : 360px;
    padding : 8px;
    position : absolute;
    top : 120px;
    left : 10px;
    border-radius : 4px;
}
